doctype html
html
  head
    title Animerate.in
    block scripts
    block style
  body
    nav#navbar       
        ul 
            div#logo
                img(src="/static/imgs/logo6.png")
                | Animerate.in
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") New Release]
            li #[a(href="/") Mylist]
            li #[a(href="/help") Help]
    block content
    footer#footer 
        h2 Copyright Ⓒ 2021 Animerate.in  |  All rights  reserved 